services:
  n8n:
    image: n8nio/n8n:latest
    container_name: n8n_vagas
    ports:
      - "5678:5678"
    environment:
      - N8N_ENCRYPTION_KEY=${N8N_ENCRYPTION_KEY}
    volumes:
      - ./docker_data/n8n:/home/node/.n8n

  evolution:
    image: atendai/evolution-api:latest
    container_name: evolution_api
    ports:
      - "8080:8080"
    environment:
      - AUTH_TOKEN=${EVOLUTION_API_TOKEN}
    volumes:
      - ./docker_data/evolution:/evolution/instances